<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="icon" href="data:,">
   <script>
      let senderId = "<%= senderId %>"
   </script>
   <title>Đặt bánh</title>
   <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

   <!-- jQuery library -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

   <!-- Popper JS -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
   <!-- Latest compiled JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

   <!-- Load custom Javascript and CSS-->
   <link rel="stylesheet" href="/css/style.css">
   <script src="/js/order.js"></script>

</head>

<body>
   <div class="container fix-height">
      <div class="row">
         <div class="col-12">
            <div class="text-center mt-3">
               <span class="title">Thông tin đơn hàng</span>
            </div>
            <input type="text" id="psid" hidden>
            <div class="form-group">
               <label for="customerName">Họ và tên:</label>
               <input type="text" id="customerName" class="form-control " placeholder="Họ và tên...">
            </div>
            <div class="form-group">
               <label for="address">Địa chỉ (<span style="color: red">*</span>):</label>
               <input type="text" id="address" class="form-control" placeholder="Địa chỉ...">
            </div>
            <div class="form-group">
               <label for="phoneNumber">Số điện thoại (<span style="color: red">*</span>):</label>
               <input type="text" id="phoneNumber" class="form-control" placeholder="Số điện thoại...">
               <div class="invalid-feedback">Số điện thoại không hợp lệ.</div>
            </div>
            <div class="form-group">
               <label for="receivedTime">Thời gian nhận (<span style="color: red">*</span>):</label>
               <input type="text" id="receivedTime" class="form-control" placeholder="Thời gian...">
               <div class="invalid-feedback">Thời gian không hợp lệ.</div>
            </div>
            <div class="form-group">
               <label for="letterOnCake">Chữ trên đế bánh:</label>
               <input type="text" id="letterOnCake" class="form-control" placeholder="Chữ viết...">
            </div>
            <div class="form-group">
               <label for="paymentType">Hình thức thanh toán: (<span style="color: red">*</span>):</label>
               <input type="text" id="paymentType" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary" id="btnOrderNow"> ĐẶT HÀNG </button>
         </div>

      </div>

   </div>
</body>

</html>